{% load core_tags %}
{% load thumbnail %}

{% load cache %}

{% cache 500 post_cache post.id %}
    <div class="card col-md-4" style="width: 18rem;">
        <div class="card-body">
            {% if post.cover %}
                {% thumbnail post.cover "308x231" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
    <!--            <img class="card-img-top" src="{{ post.cover.url }}">-->
            {% endif %}
            <h5 class="card-title">{{ post.title|color_it:'brown'|safe }}</h5>
            <p class="card-text">{{ post.body|truncatewords:10|color_it:'green'|safe }}</p>
            {% for tag in post.tags.all %}
                <a href="#">#{{ tag.name }}</a>
            {% endfor %}
            <br>
            {% if user.is_authenticated %}
                <a href="/update/post/{{ post.id }}" class="btn btn-info">{{ 'Update'|color_it:'white'|safe }}</a>
            {% endif %}
            <a href="#" class="btn btn-primary">Read more</a>
        </div>
    </div>
{% endcache %}