<div class="control">
    <img src="{{ value.url }}">
    {% include "django/forms/widgets/input.html" %}
</div>

<style>
    .control {
        position: relative;
        max-height: 400px;
    }

    .control input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    }
    .control img {
        max-width: 100%;
        max-height: 400px;
    }
</style>
