.bordered {
    border: 1px solid black;
    border-radius: 5px;
    min-height: 150px;
    max-height: 500px;
    margin-top: 10px;
    padding: 10px;
    overflow: scroll;
}

.message-form {
    margin-top: 10px;
}

.message-form textarea {
    width: 100%;
    height: 100px;
}

.message-form button {
    width: 100%;
    margin-top: 26px;
}

.mesage {
    display: block;
}