{% load cache %}
{% load i18n %}
{% load core_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>index.html</title>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        {% block css %}{% endblock %}
    </head>
    <body>
        {% cache 1 nav user.username %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">{% translate 'My Blog' %} </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="/create/post/">{% translate 'Create new post' %}</a>
                  </li>
                {% endif %}
<!--                categories dropdown menu -->
                 <li class="nav-item dropdown">
                    <div class="btn-group">
                      <a href="#" type="button" class="nav-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                          {% translate 'Categories' %}
                      </a>
                      <ul class="dropdown-menu">
                          {% for category in categories %}
                            <li><a href="#" class="dropdown-item">{{ category.name }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                 </li>


            </ul>
              {% if user.is_authenticated %}
              <span class="navbar-brand"><a href="/profile/{{ user.id }}">{% translate 'Hello' %}, {{ user.username }} {{ user.money }}!</a></span>
                    <a class="btn btn-danger" href="/logout" style="margin-right: 5px">{% translate 'Logout' %}</a>
              {% else %}
                    <a class="btn btn-info" href="/registration/" style="margin-right: 5px">{% translate 'Signup' %}</a>
                    <a class="btn btn-success" href="/login/" style="margin-right: 5px">{% translate 'Login' %}</a>
              {% endif %}
            <!--                language choose dropdown -->
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    {% get_current_language as LANGUAGE_CODE %}
                    {{ LANGUAGE_CODE }}
                </button>
                <ul class="dropdown-menu">
                    {% get_available_languages as LANGUAGES %}
                    {% for lang in LANGUAGES %}
                        <li><a class="dropdown-item" href="/lang/?lang={{ lang.0 }}&next={{ request.path|cut_lang }}">{{ lang.0 }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            <!-- search form-->
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% translate "Search" %}</button>
            </form>
          </div>

        </nav>
        {% endcache %}
        <div class="container">
            {% block content %}<h1>{% translate 'Hello world' %}</h1>{% endblock %}
        </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>