{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock css %}

{% block js %}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock js %}


{% block content %}
    <input id="room-id" value="{{ room.id }}" type="hidden">
    <input id="user-id" value="{{ user.id }}" type="hidden">

    <div id="chat-view" class="bordered">
        {% for message in messages %}
            <div class="message">
                <b>{{ message }}:</b> <span>{{ message.message }}</span>
            </div>
        {% endfor %}
    </div>

    <div class="row message-form">
        <div class="col-md-9">
            <textarea id="message"></textarea>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success" id="send-message">Send</button>
        </div>
    </div>
{% endblock content %}