{% extends 'base.html' %}

{% load core_tags %}

{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img src="{% static 'img/anon.png' %}">
        </div>
        <div class="col-md-4">
        </div>
    </div>
<!--    <h1>Refresh count {{ refresh_count }}</h1>-->
    <h1>{{ test_text }}</h1>
    {% if posts %}
        <h1>RANDOM POST</h1>
        <div class="row">
            {% random_post user %}
        </div>
        <h1>POSTS</h1>
        <div class="row">
            {% for post in posts %}
                    {% include 'includes/post.html' %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock content %}
