{% extends 'base.html' %}
{% load static %}
{% block js %}
    <script src="{% static '/js/index.js' %}"></script>
{% endblock js %}
{% block content %}
    <input type="text"/>
    <input type="number"/>
    <button id="btn2" class="btn btn-primary">click me!</button>
{% endblock content %}
