{% extends 'base.html' %}

{% load i18n %}

{% load bootstrap4 %}

{% block css %}
    <style>
        .error {
            color: red;
            border: solid red;
        }
    </style>
{% endblock css %}

{% block content %}
    <h1>{% translate 'CREATE A NEW POST' %}</h1>
    <h1>{{ error }}</h1>
    <form method="post"  enctype="multipart/form-data"> {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">{% translate 'create post' %}</button>
    </form>
{% endblock content %}
