{% extends 'base.html' %}

{% load static %}

{% block js %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock js %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ object.username }}</h1>
        {% csrf_token %}
        {% if user in object.subscribers.all %}
            <button type="submit" class="btn btn-danger subscribe">Unsubscribe</button>
        {% else %}
            <button type="submit" class="btn btn-primary subscribe">Subscribe</button>
        {% endif %}
    </div>
    <div class="col-md-12">
        {% for post in object.posts.all %}
            {% include 'includes/post.html' %}
        {% endfor %}
    </div>

{% endblock content %}
