{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post"> {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success">register</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock content %}