{% extends 'base.html' %}

{% block content %}
  <br>
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        {% for room in rooms %}
          <a class="btn btn-primary" href="/chat/{{ room.id }}" style="width: 100%">{{ room.name }}</a><br><br>
      {% endfor%}
      </div>
      <div class="col-md-4"></div>
  </div>


{% endblock content %}