{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
    <form method="post">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">send</button>
    </form>
{% endblock content %}
