{% extends 'base.html' %}
{%  block content %}
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Tag name</th>
                    <th>Rating (avg)</th>
                    <th>All rating</th>
                    <th>Post count</th>
                </tr>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td>{{ tag.post_rating|default_if_none:'----' }}</td>
                    <td>{{ tag.all_rating|default_if_none:'----' }}</td>
                    <td>{{ tag.post_count|default_if_none:0 }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            <h1>Posts avg rating: {{  post_avg_rating|floatformat }}</h1>
        </div>
    </div>

{%  endblock content %}